.sendMail {
  position: absolute;
  bottom: 0px;
  right: 50px;
  background-color: #404040;
  width: 40%;
  height: 40%;
  max-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  box-shadow: 0px 5px 7px opx rgba(0, 0, 0, 0.24);
}

.sendMail__header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dce6f8;
}

.sendMail__header > h3 {
  color: black;
  font-size: 15px;
}

.sendMail__send {
  background-color: #3079ed !important;
  text-transform: capitalize !important;
  margin: 15px !important;
  color: white !important;
  border-radius: 4px 0 0 4px !important;
}

.sendMail__close {
  margin-bottom: -8px;
  color: black !important;
  cursor: pointer;
}

.sendMail > form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sendMail__error {
  background-color: white;
  color: red;
  text-align: right;
  padding: 2px;
}

.sendMail > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}

.sendMail__options {
  display: flex;
  object-fit: contain;
  background-color: white;
  border: none;
}

.sendMail__message {
  overflow-wrap: break-word;
  flex: 1;
}

.sendMail__sendContainer {
  display: flex;
}

.sendMail__arrowDown {
  background-color: #3079ed !important;
  font-size: 15px !important;
  color: white !important;
  padding: 10px;
  margin-left: -1.5rem;
  height: 16.5px !important;
  width: 20px;
  border-radius: 0 4px 4px 0 !important;
}

.sendMail__actions {
  display: flex;
  object-fit: contain;
  font-size: 10px !important;
  margin-left: -25px !important;
  padding: 12px;
}

.sendMail__openFull {
  margin-bottom: -6px !important;
}

.sendMail__textFormat {
  margin-left: 5px !important;
}

.sendMail__mailDelete {
  margin-left: 20px !important;
  color: #646464 !important;
  font-size: 20px !important;
}
